	<h3>About the GA Camping Store</h3>

<p>The GA camping store was established in 2010, shorting after GA was created, 
when it was discovered that WDI students never left campus and needed a ready supply 
of supplies and sundries. </p>

