<<html>
<head>
<link rel="stylesheet" type="text/css" href="/main.css">
	<title>GA Camping Store</title>
</head>
	<body>
		<section id='header'>
		<h1 class="font-effect-distressed-wood"> Welcome to the GA Camping Store </h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
					<li><a href="/items">Shop</a></li>	
			</ul>
		</nav>	
	</section>
	<section>
		<%= yield%>
	</section>
	</body>
</html>
